.fullContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newTaskField {
    max-width: 46rem;
    display: flex;

    justify-content: space-between;
}